extends layout

block content
  p Dodaj książkę
  form(action='/addbook', method='post')
    div
      label ISBN:
      input(type='text', name='ISBN')
    div
      label Nazwa:
      input(type='text', name='Name')
    div
      label Autor:
      input(type='text', name='AuthorName')
    div
      label Rok wydania:
      input(type='text', name='Year')
    div
      label Opis:
      input(type='text', name='Description')
    div
      input(type='submit', value='Dodaj')