extends layout

block content
    table
        thead
          th Tytuł
          th=book.Title
        tbody
            tr
              td ISBN
              td=book.ISBN
            tr
              td Rok
              td=book.Year
            tr
              td Autor
              td=book.AuthorName

      div.tooltip#flip
          h1='Opis: '
          span.tooltiptext
              p='Naciśnij aby wyświetlić opis'
          p#panel=book.Description