meta(name='viewport', content='width=device-width, initial-scale=1.0')
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/png', href='favicon-16x16.png', sizes='16x16')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script.
      $(document).ready(function(){
      $("#flip").click(function(){
      $("#panel").slideToggle("slow");
      });
      });
  body
    .row
      .col-m-8.col-9.title
        a(href="/")
          img(src= "/images/bookimg.png",href="/")
        h1 Biblioteka
      .col-m-4.col-3.login
          block login
            if (user)
              form(action='/logout', method='post')
                label= 'Witaj ' + user.Name+' '+user.Surname
                  input(type='submit', value='Wyloguj')
            else 
             form(action='/login', method='post')
                div
                  input(type='text', name='username',placeholder='Login...')
                div
                  input(type='password', name='password',placeholder='Hasło...')
                div
                  input(type='submit', value='Zaloguj')
    
    .row
      .col-m-3.col-2.menu
        ul
          li 
            a(href="/") Strona główna
          li 
            a(href="/search") Wyszukaj książkę
          if (user)
            li 
              a(href="/mybooks") Wypożyczone książki
          if (user&&user.Librarian)
            li 
              a(href="/addbook") Dodaj książkę
            li 
              a(href="/uploader") Upload plików
      .col-m-9.col-10.content
        block content
    .row
      .col-m-12.col-12.footer
        block footer
          p Autor: Maciej Bendec
