extends layout

block content
  h3='Wypożyczone książki: '+books.length
  table
    thead
      th ISBN
      th Tytuł
      th Rok
      th Autor
    tbody
      each item in books
        tr
          td
            span
              a(href='/book?ISBN='+item.ISBN)=item.ISBN
          td=item.Title
          td=item.Year
          td=item.AuthorName