extends layout

block content
  p Wyszukaj książkę
  .search
    form(action='/books', method='get')
      div
        input(type='text', name='name',placeholder="Nazwa...")
      div
        input(type='text', name='author',placeholder="Autor...")
      div
        input(type='submit', value='Wyszukaj')