doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='styles.css')
    meta(charset='utf-8')
    title Moja strona
  body
    header
      h1 Moja strona
    .row
      .menu.col-2.col-m3
        ul
          li Jeden
          li Dwa
          li Trzy
          li Cztery
      .main.col-8.col-m7
        h1 Lorem ipsum
        p#tekst
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          | accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
          | inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
          | ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
          | magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
          | dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
          | modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
          | veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
          | commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
          | nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    footer
      p Autor: Maciej Bendec

