extends layout

block content
  h1= title
  p Witaj na stronie #{title}
  form(action='/form',method='post')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='email') email
           input(id='email',type='text',value='',placeholder='@',name='email')
    div(id='login',data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='login') login
           input(id='login',type='text',value='',placeholder='',name='login')
    div#passworddiv(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='password') password
           input(id='password',type='password',value='',placeholder='',name='password')

    div(data-role='fieldcontain')   
      input(type='submit',value='Sign Up',data-transition='fade', data-theme='c')
