extends layout
block content
  script.
    function loadXMLDoc(url, cFunction) {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        cFunction(this);
      }
    };
    xmlhttp.open("GET", url, true);
    xmlhttp.send();
    }

    function myFunction(xml) {
      var x, i, xmlDoc, txt;
      xmlDoc = xml.responseXML;
      txt = "";
      x = xmlDoc.getElementsByTagName("author");
      for (i = 0; i< x.length; i++) {
        txt += x[i].childNodes[0].nodeValue + "<br>";
      }
      document.getElementById("demo").innerHTML = txt;
    }
  #demo
    h1= title
    p Welcome to #{title}
    p Pobieranie pliku poprzez AJAX
    button(type='button', onclick="loadXMLDoc('book_catalog.xml', myFunction)")
      | Change Content