extends layout

block content
  h1= title
  p Welcome to my #{title}
  p User list
  each item in users
    if(item.Librarian==1)
      li= item.Name+' '+item.Surname+' '+'Librarian'
    else
      li= item.Name+' '+item.Surname+' '+'Reader'