* {
    box-sizing: border-box;
}
body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid white;*/
	width: 100%;
}
.title {
    overflow: auto;
    background-color: #0099cc;
    height: 100px;
}

.title h1 {
    float: left;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    padding: 0;
    margin : 0;
    padding-left: 20px;
    text-shadow: 3px 2px grey;
}
.title img {
    float: left;
    display: block;
}
.search input[type=text] {
    background-color: white;
    background-image: url('/images/searchicon.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.login{
    background-color: #0099cc;
    height: 100px;
}
.login input[type=text] {
    background-color: white;
    background-image: url('/images/personicon.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.login input[type=password] {
    background-color: white;
    background-image: url('/images/keyicon.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.menu {
    /*background-color :#33b5e5;*/
  padding: 0px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 0px; 
    margin-bottom: 0px;
    background-color :#33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li a {
    margin: 0px; display: block;
    font-family: "Times New Roman", Times, serif;
    font-size: 150%;
    color: black;
    text-decoration: none;
    
}
.menu li:hover {
    background-color: #0099cc;
}
.content{
    min-height: 500px;
}

.footer{
    
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    background-color: white;
    width: 100%;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #0099cc;
    color: white;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext{
    top: -5px;
    right: 75%; 
    visibility: visible;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
}

#panel {
    padding: 50px;
    display: none;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .title h1 {
      font-size: 70px;
    }
    
}